body {
  padding:0;
  margin:0;
  position: relative;
}
.encabezado {
  background-color: lightblue;
}
.contenedor {
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.boton-buscar, .boton-agregar {
  background-color: lightblue;
}

.contenedor-contacto {
  background-color: lightblue;
}

.modal-contacto {
  padding: 10%;
  display:none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.datos-contacto {
  padding:2%;
  background-color: gray;
}
